flows (3).json
[{"id":"a87497c6.7ad938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"176b17d9.66c8c8","type":"ui_form","z":"a87497c6.7ad938","name":"","label":"","group":"9216af3d.d14d3","order":1,"width":"14","height":"4","options":[{"label":"Search for News","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":180,"wires":[["8a092de8.b7a9d"]]},{"id":"8a092de8.b7a9d","type":"function","z":"a87497c6.7ad938","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["65de2d6e.f0c294"]]},{"id":"58fc398b.e39e18","type":"function","z":"a87497c6.7ad938","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["dad349d0.07b3f8"]]},{"id":"65de2d6e.f0c294","type":"watson-discovery-v1","z":"a87497c6.7ad938","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/2e5a607d-9316-4e3c-9efe-4ea65d7395ca","x":330,"y":320,"wires":[["58fc398b.e39e18","9998ca75.4a16e8","ae7463c3.33507","793a058c.f5432c","5872f241.dd106c","d69c6c6c.a70b5","593a9d73.0eb384"]]},{"id":"dad349d0.07b3f8","type":"ui_text","z":"a87497c6.7ad938","group":"9216af3d.d14d3","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"col-center","x":770,"y":200,"wires":[]},{"id":"793a058c.f5432c","type":"function","z":"a87497c6.7ad938","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["981f20c0.fc993"]]},{"id":"9998ca75.4a16e8","type":"function","z":"a87497c6.7ad938","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["c3727bf6.d1f8c8"]]},{"id":"d69c6c6c.a70b5","type":"function","z":"a87497c6.7ad938","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["774e7c58.cec754"]]},{"id":"ae7463c3.33507","type":"function","z":"a87497c6.7ad938","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["a6e84626.014ec8"]]},{"id":"5872f241.dd106c","type":"function","z":"a87497c6.7ad938","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["a027f2ac.a2088"]]},{"id":"a027f2ac.a2088","type":"ui_text","z":"a87497c6.7ad938","group":"9216af3d.d14d3","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"col-center","x":750,"y":400,"wires":[]},{"id":"981f20c0.fc993","type":"ui_text","z":"a87497c6.7ad938","group":"9216af3d.d14d3","order":4,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"col-center","x":750,"y":320,"wires":[]},{"id":"c3727bf6.d1f8c8","type":"ui_text","z":"a87497c6.7ad938","group":"9216af3d.d14d3","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"col-center","x":750,"y":240,"wires":[]},{"id":"774e7c58.cec754","type":"ui_text","z":"a87497c6.7ad938","group":"9216af3d.d14d3","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"col-center","x":780,"y":280,"wires":[]},{"id":"a6e84626.014ec8","type":"ui_gauge","z":"a87497c6.7ad938","name":"","group":"9216af3d.d14d3","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"afbf6afc.82b188","type":"function","z":"a87497c6.7ad938","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["4fb6708e.72fb3"]]},{"id":"4fb6708e.72fb3","type":"ui_chart","z":"a87497c6.7ad938","name":"","group":"9216af3d.d14d3","order":8,"width":"12","height":"9","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":440,"wires":[[]]},{"id":"593a9d73.0eb384","type":"function","z":"a87497c6.7ad938","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["afbf6afc.82b188"]]},{"id":"9216af3d.d14d3","type":"ui_group","z":"","name":"News Search","tab":"61a49ed8.876c5","order":1,"disp":true,"width":"14","collapse":false},{"id":"61a49ed8.876c5","type":"ui_tab","z":"","name":"IBM Watson Discovery","icon":"NEWS","disabled":false,"hidden":false}]