flows.json
[{"id":"c3cd8cf7.6236","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"915a936c.baa49","type":"watson-discovery-v1","z":"c3cd8cf7.6236","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/2e5a607d-9316-4e3c-9efe-4ea65d7395ca","x":410,"y":40,"wires":[["5c50260c.2f7828"]]},{"id":"2baac5d8.126bea","type":"function","z":"c3cd8cf7.6236","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["915a936c.baa49"]]},{"id":"5e5ed703.36c4a8","type":"ui_form","z":"c3cd8cf7.6236","name":"","label":"","group":"38ba5e1b.17f352","order":0,"width":0,"height":0,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":240,"wires":[["2baac5d8.126bea"]]},{"id":"5c50260c.2f7828","type":"function","z":"c3cd8cf7.6236","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["3cd1b503.3b6b1a","444b06c7.311008"]]},{"id":"3cd1b503.3b6b1a","type":"debug","z":"c3cd8cf7.6236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":200,"wires":[]},{"id":"444b06c7.311008","type":"ui_text","z":"c3cd8cf7.6236","group":"38ba5e1b.17f352","order":1,"width":0,"height":0,"name":"","label":"Search Result","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":340,"wires":[]},{"id":"38ba5e1b.17f352","type":"ui_group","z":"","name":"Watson Discovery News Search","tab":"97f4143b.c800d8","order":1,"disp":true,"width":"14","collapse":false},{"id":"97f4143b.c800d8","type":"ui_tab","z":"","name":"IBM Watson Discovery","icon":"dashboard","disabled":false,"hidden":false}]